.main {
  background-color: #df0000;
  min-height: 95vh;
  min-width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 10px !important;
}

.questiontitle {
  color: white;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.question-textfield {
  align-items: center !important;
  justify-content: center !important;
  margin-right: 20px !important;
  color: white !important;
  background-color: white;
  border: 5px solid white !important;
  border-radius: 6px !important;
}

.person-input {
  background-color: white;
  border: 5px solid white !important;
  border-radius: 6px !important;
  margin-bottom: 10px !important;
}

.form {
  color: white;
}

.doneButton:disabled{
  background-color: gray !important;
}

.addperson-button {
  align-items: center !important;
  justify-content: center !important;
  color: white !important;
}

.delete-icon {
  font-size: 20px;
  align-items: center;
  margin-bottom: -3px;
}

.addPersonSS{
  color: white !important;
}

.addPersonSS:disabled{
  color: gray !important;;
} 

@media (min-width: 1024px) {
  .main {
    min-height: 160vh;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
